GOOGLE_API_KEY=AIzaSyDeDUigVRC5OwZdDuIDJm7iXYymjN_TrxU
OPENAI_API_KEY=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
ZEMBED_API_KEY=ze_37lgN1v70BdxIHwl
ANTHROPIC_API_KEY=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
